.MemoryCardBack{
  display: inline-block;
    width: 150px;
    height: 80px;
    margin: 3px;
    border-radius: 5px;
    border: solid 3px navy;
    cursor: pointer;
    background: repeating-radial-gradient(
          circle,
            white,
            white 10px,
            gray 10px,
            gray 20px
    );
}

.logo {
  width: 100%;
  padding-top: 20px;
}